# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
.env
*.env

# VS Code
.vscode/
*.code-workspace

# Dev Containers
.devcontainer/.python-version
.devcontainer/.venv/
.devcontainer/*.bak
.devcontainer/devcontainer.json~

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Docker (optional if using bind mounts only)
*.pid
*.sock
